body, h1, h2, h3, p, ul, li, button {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: slategray;
  background-color: whitesmoke;
}

.container {
  max-width: 1200px;
  margin: 20px;
  padding: 20px;
}

.site-header {
  background-color: #333;
  color: #fff;
  padding: 25px;
  text-align: center;
  font-size: larger;
}

.site-header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}

nav a:hover {
  color: whitesmoke;
}

section {
  margin: 20px 0;
}

aside {
  float: left;
  width: 30%;
  margin-left: 25px;
}

aside img {
  margin-left: 30px;
  width: 75%;
  height: auto;
  border-radius: 5px;
}

article {
  margin-left: 35px;
  float: left;
  width: 65%;
}

h2, h3 {
  color: #333;
}

ul {
  list-style: none;
}

button {
  background-color: slategray;
  color: whitesmoke;
  padding: 10px;
  border: 2px black;
  cursor: pointer;
  border-radius: 3px;
}

button a {
  text-decoration: none;
  color: whitesmoke;
}

button:hover {
  background-color: black;
}

.contacts {
  margin-left: 20px;

}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: whitesmoke;
}